
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Open sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$greyish: #606f7b;
$accent: #328af1;
$accent-hover: #2779bd;

$heading-text: rgb(34, 41, 47);
$faded-text: #606f7b;
$help-text: #8795a1;
$bold-help-text: #4d545d;
$hover-fade: #f6f6f6;

$topic: #ecf3fc;